<style>
    .modal-lg {
        width: 900px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .ui-grid-icon-plus-squared:before {
        color: green;
    }

    .title {
        width: 100%;
        background-color: #ececec;
        padding: 5px 0px 5px 10px;
        border: 1px solid #ececec;
        border-radius: 6px;
    }
</style>

<div class="col-md-12">
    <form class="form-horizontal" novalidate name="form">
        <legend>
            <h2 class="title"><img src="/css/image/contractor/iso-icon.jpg" style="width:50px;border-radius: 50%;">
                {{'ISO_Manage'|translate}}</h2>
        </legend>
        <div class="form-group">

            <label class="col-sm-2 control-label">{{'ISO_AppCode'|translate}}</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="query.ISO_AppCode" />
            </div>

            <label class="col-sm-2 control-label">{{'From'|translate}}</label>
            <div class="col-sm-3">
                <div class='input-group date'>
                    <input type='text' class="form-control" ng-model="query.FromDate" date-picker />
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> {{'VoucherType'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="query.ApplicationType"
                    ng-options="a.ApplicationType as a.Remark for a in ApplicationTypeList">
                    <option value="">--------- {{'Show All'|translate}} ---------</option>
                </select>
            </div>

            <label class="col-sm-2 control-label">{{'To'|translate}}</label>
            <div class="col-sm-3">
                <div class='input-group date'>
                    <input type='text' class="form-control" ng-model="query.ToDate" date-picker />
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Status'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="query.Status"
                    ng-options="iso.Status as iso.Remark for iso in StatusList">
                    <option value="">--------- {{'Show All'|translate}} ---------</option>
                </select>
            </div>
            
            <div class="col-sm-offset-2 col-sm-3 control-label">
                <button class="btn btn-primary" data-ng-click="searchISO()">
                    <i class="glyphicon glyphicon-search"></i>
                    {{'Search'|translate}}</button>
            </div>
        </div>

        <br>
        <div style="width: 100%;">
            <div id="Grid" ui-grid="gridOptions" class="grid" ui-grid-selection
                ui-grid-resize-columns ui-grid-core ui-grid-exporter external-scopes="gridHandlers">
            </div>
        </div>
    </form>

    <!--create iso modal-->
    <div class="modal fade" id="modalISO" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 60%;">
            <div class="modal-content" style="padding: 5px;">
                <div class="modal-body" style="padding-bottom:3px">
                    <div ng-include="'forms/EHS/Modification/Manage_Info/ISO/CreateISO.html'"></div>
                </div> <!-- end of modal-body -->
            </div> <!-- end of modal-content -->
        </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal -->

</div>