<style>
    .btn-bs-file {
        position: relative;
    }

    .btn-bs-file input[type="file"] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }
</style>
<div>

    <form class="form-horizontal" role="form" novalidate name="formTimekeeperManagement">
        <legend><h3>{{'TimekeeperManagement'|translate}}</h3></legend>
        <div class="col-sm-12 form-group">
            <div class="form-group search-table">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> {{'EmployeeID'|translate}}</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" name="EmployeeID" ng-model="Timekeeper.EmployeeID">
                    </div>
                    <label class="col-sm-2 control-label"> {{'CardNumber'|translate}}</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" name="CardNumber" ng-model="Timekeeper.CardNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> {{'EmployeeName'|translate}}</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" name="EmployeeName" ng-model="Timekeeper.EmployeeName">
                    </div>

                </div>
                <div class="form-group" style="margin-top: 20px">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4" style="text-align: center;margin-left: 70px">

                        <button type="button" class="btn btn-primary" ng-click="Search()">{{'Search'|translate}}
                        </button>
                        <label class="btn-bs-file btn btn-primary">
                            {{'timekeeperUploadFile'|translate}}
                            <input id="div-fileupload"  type="file" timekeeper-upload-file="timekeeperUploadFile" nv-file-select multiple />
                        </label>

                    </div>

                </div>
            </div>
            <div style="width: 100%; margin-top: 20px">
                <div id="Grid" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-pagination
                     ui-grid-auto-fit-columns ui-grid-resize-columns
                     ui-grid-core></div>
            </div>
        </div>
    </form>
</div>