<style>
    #page-contain {
        font-size: 14pt;
        font-family: 'Times New Roman', 'DFKai-SB';
    }

    page {
        background: white;
        display: block;
        margin: 10px auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    }

    page[size="landscape"] {
        padding: 5% 5% 5% 5%;
    }

    #footer {
        display: none;
    }

    table {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        padding: 5px;
    }

    .radio {
        display: inline;
        position: relative;
        cursor: pointer;
        font-weight: normal;
    }

    /* Hide the browser's default radio button */
    .radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 1px solid black;
        cursor: not-allowed;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio input:checked~.checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio .checkmark:after {
        left: 5px;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    body {
        padding: 0;
    }

    .colorGray {
        background-color: lightgray;
        text-align: center;
    }


    .page-footer {
        width: 100%;
        text-align: right;
    }

    @media print {
        .container {
            padding: 0px 4px 0px 4px !important;
        }

        @page {
            size: landscape;
            margin: 10mm 14mm 8mm 14mm;
        }

        #page-contain {
            font-size: 12pt !important;
            font-family: 'Times New Roman', 'DFKai-SB';

        }

        .page-footer {
            position: fixed;
            bottom: 0;
            height: 20px;
        }

        .page-footer-space {
            height: 9px;

        }


        .colorGray {
            background-color: lightgray !important;
            -webkit-print-color-adjust: exact !important;

        }


        .buttonApp {
            visibility: hidden;
        }
    }
</style>



<page size="A4" id="page-contain" class="container">
    <div class="header">
        <div class="col-lg-12" style="text-align: center; font-size: 18pt;">
            <Strong> 遠東紡纖(越南)有限公司-化纖廠
                <br> CÔNG TY TNHH POLYTEX FAR EASTERN (VIỆT NAM)-XƯỞNG HÓA SỢI
                <br> 變更風險評估表 Biểu đánh giá rủi ro thay đổi
            </Strong>
        </div>
    </div>

    <table>
        <tr>
            <td style="width:15%;text-align: center;">申請單位 <br> Bộ phận đề xuất </td>
            <td style="width:48%;">{{data.Department}}</td>

            <td style="width:17%;text-align: left;">申請日期 <br> Ngày đề xuất:</td>
            <td>{{data.CreateDate}}</td>
        </tr>
        <tr>
            <td style="text-align: center;">變更名稱 <br>Tên sự thay đổi </td>
            <td>{{data.MD_Name}} </td>

            <td style="text-align: left;">變更案號 <br> Mã số dự án thay đổi</td>
            <td>{{data.MD_ProjectID}}</td>
        </tr>
    </table>

    <table style="margin-top: 2px;" id="assessment">
        <thead>
            <tr></tr>
            <tr class="colorGray">
                <td colspan="4">
                    <b> 變更前評估之項目 Hạng mục đánh giá trước khi thay đổi </b>
                    <br>
                    (勾選「是」後，請提出防制措施 Thực hiện cải thiện nếu chọn ô 「có」
                </td>

                <td>
                    防制措施 <br> Biện pháp cải thiện
                </td>

                <td>
                    單位於啟用前自查核 <br> Bộ phận tự đánh giá trước khi vận hành
                </td>
            </tr>
        </thead>

        <tbody ng-repeat="p in ParentList">


            <!-- <td style="text-align:center; width:10%; border-right: none;" rowspan="15">{{p.Content}}</td> -->



            <!-- <td style="text-align:center; width:10%; border-right: none;" rowspan="{{p.NumberOfChild}}" class="parent">{{p.Content}}</td> -->


            <tr ng-repeat="c in ChildList | filter: {Parent:p.Code}:true" style="font-size: 12pt;">
                <td style="text-align:center; width:10%; border-bottom: none; font-size: 14pt;"
                    ng-style="{'border-top' : (c.Index==1) ? 'visible' : 'none' }">
                    <p ng-if="c.Index==1">{{p.Content}}</p>
                </td>


                <td style="width:38%; vertical-align: top;" colspan="2">{{c.Content}} &nbsp;&nbsp;
                    <i style="white-space: break-spaces; vertical-align: top;">{{c.OtherContent}}</i>
                </td>

                <td style="width:18%; vertical-align: top; ">

                    <label class="radio">
                        <input type="radio" ng-model="c.Option" value="Yes" disabled>
                        <span class="checkmark"></span>
                        是 Có
                    </label>

                    <label class="radio">
                        <input type="radio" ng-model="c.Option" value="No" disabled>
                        <span class="checkmark"></span>
                        否 Không
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" ng-model="c.Option" value="NotApply" disabled>
                        <span class="checkmark"></span>
                        不適用 Không áp dụng
                    </label>

                </td>

                <td style="width:18%; vertical-align: top;">
                    <i style="white-space: break-spaces;">{{c.ImproveSolution}}</i>
                </td>

                <td style="vertical-align: top;">
                    <label class="radio">
                        <input type="radio" ng-model="c.IsPass" value="Yes" disabled>
                        <span class="checkmark"></span>
                        Đạt 合格
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" ng-model="c.IsPass" value="No" disabled>
                        <span class="checkmark"></span>
                        Không đạt 不合格
                    </label>
                </td>
            </tr>





            <tr ng-if="p.Other" style="font-size: 12pt;">
                <td style="text-align:center; width:10%;  font-size: 12.5pt;">
                    {{p.Content}}
                </td>
                <td colspan="2" style="vertical-align: top;">
                    <i style="white-space: break-spaces;">{{p.OtherContent}}</i>
                </td>

                <td style="vertical-align: top;">
                    <label class="radio">
                        <input type="radio" ng-model="p.Option" value="Yes" disabled>
                        <span class="checkmark"></span>
                        是 Có
                    </label>

                    <label class="radio">
                        <input type="radio" ng-model="p.Option" value="No" disabled>
                        <span class="checkmark"></span>
                        否 Không
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" ng-model="p.Option" value="NotApply" disabled>
                        <span class="checkmark"></span>
                        不適用 Không áp dụng
                    </label>
                </td>

                <td style="vertical-align: top;">
                    <i style="white-space: break-spaces;">{{p.ImproveSolution}}</i>
                </td>

                <td style="vertical-align: top;">
                    <label class="radio">
                        <input type="radio" ng-model="p.IsPass" value="Yes" disabled>
                        <span class="checkmark"></span>
                        Đạt 合格
                    </label>
                    <br>
                    <label class="radio">
                        <input type="radio" ng-model="p.IsPass" value="No" disabled>
                        <span class="checkmark"></span>
                        Không đạt 不合格
                    </label>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr></tr>
            <!--this tr tag will hidden the border-->
            <tr>
                <td colspan="6" style="border:hidden">
                    <!--place holder for the fixed-position footer-->
                    <div class="page-footer-space"></div>
                </td>
            </tr>
        </tfoot>

    </table>



    <table style="page-break-inside: avoid; margin-top:2px" ng-if="!checker">
        <tr class="colorGray">
            <td colspan="3">安環處 Bộ phận An toàn môi trường </td>
            <td colspan="3">申請單位 Đơn vị xin thay đổi</td>
        </tr>

        <tr class="colorGray">
            <td style="width:15%;">廠處主管 <br>Chủ quản xưởng</td>
            <td style="width:16%;">單位主管 <br>Chủ quản đơn vị </td>
            <td style="width:17%;">審查人員 <br>Nhân viên kiểm tra </td>
            <td style="width:18%;">廠處主管 <br>Chủ quản xưởng </td>
            <td style="width:18%;">單位主管 <br>Chủ quản đơn vị</td>
            <td>申請人<br> Người đề xuất </td>
        </tr>

        <tr
            style="text-align:center;height:90px; font-size:12pt; vertical-align: top;border-top:1px solid;border-right:1px solid; ">
            <td> {{receiver[7].UserId}}
                <br> {{receiver[7].UserName}}
            </td>

            <td> {{receiver[6].UserId}}
                <br> {{receiver[6].UserName}}
            </td>

            <td>
                - 安全 An toàn: {{receiver[3].UserId}}
                <br> {{receiver[3].UserName}}
                <br>

                - 環境 Môi trường: {{receiver[5].UserId}}
                <br> {{receiver[4].UserName}}
                <br>
                - 消防 PCCC: {{receiver[5].UserId}}
                <br> {{receiver[5].UserName}}
            </td>

            <td> {{receiver[2].UserId}}
                <br> {{receiver[2].UserName}}
            </td>

            <td> {{receiver[1].UserId}}
                <br> {{receiver[1].UserName}}
            </td>

            <td> {{receiver[0].UserId}}
                <br> {{receiver[0].UserName}}
            </td>
        </tr>
    </table>

    <div ng-if="!checker" class="page-footer">
        <p>{{data.ISO_AppCode}}</p>
    </div>

    <div ng-if="!checker" style="float: right; margin-top: 10px; margin-bottom: 10px;">
        <button class="btn btn-success buttonApp" ng-click="printApp()">
            <i class="glyphicon glyphicon-print" style="color: white;vertical-align: text-bottom;"></i>
            &nbsp;{{'Print_voucher'|translate}}
        </button>

    </div>

    <div ng-if="checker=='hseDivisionManager' || checker=='hseManager'" style="margin-top: 25px;">
        <div ng-include="'forms/EHS/Modification/Manage_Modification/ModificationProcessLog.html'"></div>
    </div>
    <form class="form-horizontal" name="checkform" ng-if="checker">
        <div class="form-group" style="margin-top: 30px;">
            <label class="col-sm-3 control-label">*{{'IsPass'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="data.IsAgree" required>
                    <option value="YES">{{'leaderCheck'|translate}}</option>
                    <option value="NO">{{'notAgree'|translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-if="checker=='hseDivisionManager'" style="margin-top: 15px;">
            <label class="col-sm-3 control-label">*{{'Select_next_approver'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="data.hseManager" required>
                    <option ng-repeat="manager in hseManagerList" value="{{manager.Person}}">
                        {{manager.Person}} - {{manager.EmployeeName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-if="data.IsAgree == 'YES' && EnterApprovalReason" style="margin-top: 15px;">
            <label class="col-sm-3 control-label">*{{'ApprovalReason'|translate}}</label>
            <div class="col-sm-6">
                <textarea class="form-control" type="text" ng-model="data.ApprovalReason" field-validate rows="3"
                    required></textarea>
            </div>
        </div>

        <div class="form-group" ng-if="data.IsAgree == 'NO'" style="margin-top: 15px;">
            <label class="col-sm-3 control-label">*{{'DenyReason'|translate}}</label>
            <div class="col-sm-6">
                <textarea class="form-control" type="text" ng-model="data.DenyReason" field-validate rows="3"
                    required></textarea>
            </div>
        </div>

        <div class="form-group" style="margin-top: 15px;">
            <div class="col-sm-offset-3 col-sm-2">
                <button class="btn btn-warning buttonApp" ng-click="saveSubmit()" ng-disabled="checkform.$invalid">
                    <img src="/css/image/send.png" style="width:25px;">
                    {{'submit'|translate}}
                </button>
            </div>
        </div>
    </form>

</page>