<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MISInterfaceDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MISInterfaceDAL.Properties.Settings>
      <setting name="MISInterfaceDAL_VehicleTransfer_ZFEPV_GetBLInfo"
        serializeAs="String">
        <value>http://10.17.213.167:8006/ZFEPV_GetBLInfo.asmx</value>
      </setting>
      <setting name="MISInterfaceDAL_ShippingOrderDate_WA27N6MIS001"
        serializeAs="String">
        <value>http://10.20.50.108/A27N6Service/WA27N6Connect/WA27N6MIS001.asmx</value>
      </setting>
      <setting name="MISInterfaceDAL_VehicleInformationInput_WA27N6MIS002"
        serializeAs="String">
        <value>http://10.20.50.108/A27N6Service/WA27N6Connect/WA27N6MIS002.asmx</value>
      </setting>
      <setting name="MISInterfaceDAL_UploadPickInfo_FEPV_GetSOInfo"
        serializeAs="String">
        <value>http://10.17.215.200:8007/FEPV_GetSOInfo.asmx</value>
      </setting>
      <setting name="MISInterfaceDAL_FEPV_GetSOInfo_FEPV_GetSOInfo"
        serializeAs="String">
        <value>http://10.17.213.167:8007/FEPV_GetSOInfo.asmx</value>
      </setting>
    </MISInterfaceDAL.Properties.Settings>
  </applicationSettings>
</configuration>