<style>
    .modal-lg {
        width: 900px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .ui-grid-icon-plus-squared:before {
        color: green;
    }

    .title {
        width: 100%;
        background-color: #DCEDC8;
        padding: 5px 0px 5px 10px;
        border: 1px solid #ececec;
        border-radius: 6px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif, 'DFKai-SB';
    }


    .titleIcon {
        width: 50px;
        background-color: #99CC99;
        border-radius: 100px;
    }

    .radio {
        margin-left: 10%;
    }


</style>

<div class="col-md-12">
    <form class="form-horizontal" novalidate name="form">
        <legend>
            <h2 class="title"><img src="/css/image/contractor/Law_Book.png" style="width:50px;">
                {{'ManageDisciplineCategories'|translate}}</h2>
        </legend>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Classify'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="query.CategoryClassify">
                    <option value="">--------- {{'Show All'|translate}} ---------</option>
                    <option value="parent">{{'LargeCategory'|translate}}</option>
                    <option value="child"> {{'SmallCategory'|translate}}</option>
                </select>
            </div>
            <label class="col-sm-2 control-label">{{'Category_code'|translate}}</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="query.CategoryCode" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Status'|translate}}</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="query.Status"
                    ng-options="iso.Status as iso.Remark for iso in StatusList">
                    <option value="">--------- {{'Show All'|translate}} ---------</option>
                </select>
            </div>

            <label class="col-sm-2 control-label">{{'Category_name'|translate}}</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="query.CategoryContent" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'From'|translate}}</label>
            <div class="col-sm-3">
                <div class='input-group date'>
                    <input type='text' class="form-control" ng-model="query.FromDate" date-picker />
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span>
                </div>
            </div>

            <label class="col-sm-2 control-label">{{'To'|translate}}</label>
            <div class="col-sm-3">
                <div class='input-group date'>
                    <input type='text' class="form-control" ng-model="query.ToDate" date-picker />
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3 control-label">
                <button class="btn btn-default btn-icon buttonApp" data-ng-click="searchCategory()">
                    <img src="/css/image/search-icon.png" style="width: 25px;">
                    {{'Search'|translate}}
                </button>
            </div>
        </div>

        <br>
        <div style="width: 100%;">
            <div id="Grid" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-resize-columns ui-grid-core
                ui-grid-exporter external-scopes="gridHandlers">
            </div>
        </div>
    </form>

    <!--create Category modal-->
    <div class="modal fade" id="modalCategory" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 60%;">
            <div class="modal-content" style="padding: 5px;">
                <div class="modal-body" style="padding-bottom:3px">
                    <div ng-include="'forms/ContractorDiscipline/Manage_Info/Category/CreateCategory.html'"></div>
                </div> <!-- end of modal-body -->
            </div> <!-- end of modal-content -->
        </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal -->

    <!--View detail Category modal-->
    <div class="modal fade" id="Details" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 90%;">
            <div class="modal-content" style="padding: 5px;">
                <div class="modal-header">
                    <button type="button" class="close" style="color: white; background-color: red;"
                        data-dismiss="modal" data-ng-click="resetViewDetailModal()">&times;</button>
                    <H4 class="title" style="width: fit-content;" ng-if="!isViewAll">
                        {{'DetailCategory'|translate}}
                    </H4>
                    <H4 class="title" style="width: fit-content;" ng-if="isViewAll">
                        {{'Overview'|translate}}
                    </H4>
                </div>
                <div class="modal-body" style="padding-bottom:3px">
                    <div ng-include="'forms/ContractorDiscipline/Manage_Info/Category/DetailCategory.html'"></div>
                </div> <!-- end of modal-body -->
            </div> <!-- end of modal-content -->
        </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal -->


    <!--View submit Category modal-->
    <div class="modal fade" id="SubmitViewModal" role="dialog" aria-labelledby="myLargeModalLabel"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 90%;">
            <div class="modal-content" style="padding: 5px;">
                <div class="modal-header">
                    <button type="button" class="close" style="color: white; background-color: red;"
                        data-dismiss="modal" data-ng-click="resetViewDetailModal()">&times;</button>
                    <H3>
                        <img src="css/image/contractor/SignedSubmit.png" style="width:3%"> <b
                            style="text-transform: uppercase;">{{'SubmitCategory'|translate}} </b>
                    </H3>
                </div>
                <div class="modal-body" style="padding-bottom:3px">
                    <category-submit-view></category-submit-view>
                </div> <!-- end of modal-body -->
            </div> <!-- end of modal-content -->
        </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal -->
   
</div>
