<script type="text/javascript">
    function Modification_Update($scope, EngineApi, $http, $timeout, Notifications, $upload, $compile, $filter, Auth, ModificationService, $routeParams, GateGuest, $translate) {
        console.log("VoucherAccount:" + $scope.variable.VoucherID);
        console.log($scope.variable);
        var lang = window.localStorage.lang;
        $scope.isUpdateSubmit = true;
        $routeParams.code = "UpdateSubmit";

        if ($scope.variable.VoucherType == "MD") {
            $routeParams.MD_AppID = $scope.variable.VoucherID;
        } else if ($scope.variable.VoucherType == "RA") {
            $routeParams.Risk_AppID = $scope.variable.VoucherID
        } else if ($scope.variable.VoucherType == "BE") {
            $routeParams.Evaluation_AppID = $scope.variable.VoucherID
        } else if ($scope.variable.VoucherType == "CE") {
            $routeParams.Closing_AppID = $scope.variable.VoucherID
        }

        EngineApi.getProcessLogs.getList({ "id": $routeParams.pid, "cId": '' }, function (data) {
            if (data.length === 0) {
                $scope.processLogs = "";
            } else {
                debugger
                $scope.processLogs = data[0].Logs[0];
            }
        });
    }
</script>

<div ng-controller="Modification_Update">
    <div ng-if="variable.VoucherType=='MD'">
        <view-modification></view-modification>
    </div>

    <div ng-if="variable.VoucherType=='RA'">
        <view-risk></view-risk>
    </div>

    <div ng-if="variable.VoucherType=='BE'">
        <view-evaluation></view-evaluation>
    </div>

    <div ng-if="variable.VoucherType=='CE'">
        <view-closing></view-closing>
    </div>


</div>