<style>
    .form-group {
        margin-bottom: 15px;
    }

    .form-form-horizontal {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'DFKai-SB';
    }

    .note {
        font-family: "Comic Sans MS", cursive, sans-serif, 'DFKai-SB';
        font-size: 14pt;
    }

    .title {
        width: 100%;
        background-color: #ececec;
        padding: 5px 0px 5px 10px;
        border: 1px solid #ececec;
        border-radius: 6px;
    }

    .btn {
        border: 1px solid black;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'DFKai-SB';
    }
</style>


<form class="form-horizontal" novalidate name="form">
    <legend>
        <h2 class="title"><img src="/css/image/contractor/overtime.png" style="width:50px;">
            {{'Register_OverTime'| translate}}
        </h2>
        <div class="form-group" style="margin-top: 30px;">

        </div>
    </legend>

    <div ng-if="!IsStatistic">
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'From'|translate}}</label>
            <div class="col-sm-3">
                <div class='input-group date'>
                    <input type='text' class="form-control" ng-model="query.ToDate" date-picker max="0"/>
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span>
                </div>
            </div>

            <label class="col-sm-2 control-label">{{'To'|translate}}</label>
            <div class="col-sm-3">
                <div class='input-group date'>
                    <!-- <input type='text' class="form-control" ng-model="query.ToDate" date-picker max="0"/>
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span> -->
                    <input type='text' class="form-control" ng-model="query.FromDate" date-picker />
                    <span class="input-group-addon">
                        <label class="glyphicon glyphicon-calendar" style="color: grey"></label>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Code'|translate}}</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="query.EmpName" />
            </div>

            <label class="col-sm-2 control-label">{{'ConQua_ContractorName'|translate}}</label>
            <div class="col-sm-3">
                <select style="width:100%; height: 120%" ui-select2 ng-model="query.ContractorName">
                    <option value="">----- {{'Show All'|translate}} ------</option>
                    <option ng-repeat="item in ContractorList" value="{{item.ContractorName}}">
                        {{item.ContractorName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'EmployeeName'|translate}}</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" ng-model="query.EmpName" />
            </div>

            <label class="col-sm-2 control-label">{{'State'|translate}}</label>
            <div class="col-sm-3">
                <select style="width:100%; height: 120%" ui-select2 ng-model="query.ContractorName">
                    <option value="">----- {{'Show All'|translate}} ------</option>
                    <option ng-repeat="item in ContractorList" value="{{item.ContractorName}}">
                        {{item.ContractorName}}
                    </option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3 control-label">
                <button type="button" class="btn btn-primary" ng-click="searchRegisterVoucher()">
                    <i class="glyphicon glyphicon-search"></i>
                    {{'Search'|translate}}
                </button>
            </div>
        </div>
    </div>

    <div style="width: 100%;">
        <div id="Grid" ui-grid="gridOvertime" class="grid" ui-grid-selection ui-grid-pagination
            ui-grid-resize-columns ui-grid-core ui-grid-exporter external-scopes="gridHandlers">
        </div>
    </div>

    <!-- Flowchart -->
    <hr>
    <h3>{{'Flowchart'|translate}}</h3>
    <hr>
    <div style="text-align: center;"><img src="/css/image/contractor/registercontractor.png" style="width:80%;"></div>
</form>


<!--Suspended Contractor Modal-->
<div class="modal fade" id="delConfirm" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content" style="padding: 5px;">
            <div class="modal-body" style="padding-bottom:3px">
                <form class="form-horizontal model-form " name="CanCelForm" style="margin-top:15px;"
                    enctype="multipart/form-data" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{'Code'|translate}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" ng-model="ContractorSuspended" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{'State'|translate}}</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" type="text" ng-model="invalidReason" rows="1"
                                required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" ng-model="otherInfomation"
                            style="margin-left: 38px; margin-top: 15px;"> {{'EmployeeName' | translate}}
                    </div>

                    <div ng-if="otherInfomation" ng-init="on=true">
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">* {{'IdCard' | translate}} </label>
                            <div class='input-group date col-ls-4 col-sm-4'>
                                <input type='text' class="form-control" date-picker min="0"
                                    ng-model="projects.StartdateCancel" required />
                                <span class="input-group-addon">
                                    <label class="glyphicon glyphicon-calendar" style="color: grey"
                                        for='DATE'></label>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 15px;">
                            <label class="col-sm-3 control-label ">* {{'ConQua_ContractorName' | translate}} </label>
                            <div class='input-group date col-ls-4 col-sm-4'>
                                <input type='text' id="enddatecancel" class="form-control" date-picker min="0"
                                    ng-model="projects.EnddateCancel" required>
                                <span class="input-group-addon">
                                    <label class="glyphicon glyphicon-calendar" style="color: grey"
                                        for='DATE'></label>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        <label class="col-sm-3 control-label">
                            {{'File'|translate}}
                        </label>
                        <div class="col-lg-1">
                            <div class="btn btn-info  my-btn-file">
                                <i class="glyphicon glyphicon-folder-open"></i> Browse…
                                <input type="file" ng-file-select="onFileSelect($files)">
                            </div>
                        </div>

                        <div class="col-sm-offset-1 col-sm-4" style="margin-top: 8px;" ng-if="fileAttached!=''">
                            <a href="\{{fileAttached}}" target="_blank">{{formatFileName(fileAttached)}}</a>
                            <a class="btn btn-danger btn-xs" role="button" ng-click="getRemoveFileName()">X</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="CanCelForm.$invalid"
                    ng-click="invalidContractor()">{{'Suspended'|translate}}
                </button>
                <button type="button" class="btn btn-default" ng-click="ResetSuspendedModal()"
                    data-dismiss="modal"><i class="glyphicon glyphicon-remove"
                        style="color: grey;vertical-align: text-bottom;"></i>
                    {{'Close'|translate}}</button>
            </div>
        </div>
    </div>
</div>


<!--process history-->
<div class="modal fade" id="Details" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table  table-hover table-condensed">
                    <thead>
                        <tr style="background-color:#FAFAFA;">
                            <th>{{'UpdateTime'|translate}}</th>
                            <th>{{'UserID'|translate}}</th>

                            <th>{{'FlowDetail'|translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <span>{{'ContractorInformation'|translate}}</span>
                        <tr>
                            <td>{{processList._sync_time_create | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{processList.initiator}}</td>

                            <td><a target="_blank" ng-if="processList!=null"
                                    href="#/processlog/{{processList.ProcessInstanceId}}">{{'FlowDetail'|translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <span>{{'FEPVConInfoCancel'|translate}}</span>
                <table class="table  table-hover table-condensed">
                    <thead>
                        <tr style="background-color:#FAFAFA;">
                            <th>{{'UpdateTime'|translate}}</th>
                            <th>{{'UserID'|translate}}</th>

                            <th>{{'FlowDetail'|translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cancelprocessList._sync_time_create | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{cancelprocessList.initiator}}</td>

                            <td><a target="_blank" ng-if="cancelprocessList!=null"
                                    href="#/processlog/{{cancelprocessList.ProcessInstanceId}}">{{'FlowDetail'|translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--create contractor modal-->

<div class="modal fade" id="modalContractor" role="dialog" aria-labelledby="myLargeModalLabel"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width: 100%;">
        <div class="modal-content" style="padding: 5px;">
            <div class="modal-body" style="padding-bottom:3px">
                <my_Contractor></my_Contractor>
            </div> <!-- end of modal-body -->
        </div> <!-- end of modal-content -->
    </div> <!-- end of modal-dialog -->
</div> <!-- end of modal -->
</form>